{% extends "base.html" %}

{% load static %}

{% block contenido %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 text-center">
                <div class="profile-picture">
                    {% if user.profile.picture %}
                        <img src="{{ user.profile.picture.url }}" alt="{{ user.username }} - Imagen de perfil" class="img-fluid rounded-circle" width="150px">
                    {% else %}
                        <img src="{% static 'img/usuario.png' %}" alt="Imagen de usuario por defecto" class="img-fluid rounded-circle" width="150px">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-info">
                    <h1 class="display-4">¡Hola, {{ user.username }}!</h1>
                    <p class="lead">Nombre completo: {{ user.first_name }} {{ user.last_name }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p class="text-muted">Miembro desde: {{ user.date_joined|date:"F d, Y" }}</p>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <h2>Actividad Reciente</h2>
        <!-- Aquí puedes agregar detalles sobre la actividad reciente del usuario -->
        <div class="row mt-3">
            <div class="col-md-6">
                <h4>Último Inicio de Sesión</h4>
                <p>{{ user.last_login|date:"F d, Y h:i A" }}</p>
            </div>
            <!-- Puedes agregar más detalles según sea necesario -->
        </div>
    </div>
{% endblock %}
