/* NAVBAR  */
.navbar {
    border-radius: 0;
    padding: 5rem 1rem;
    
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 0.3s ease; /* Agrega transición para suavizar el cambio de color */
}

#navbar ul {
    display: flex;
}

#navbar li {
    margin-right: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
}

section {
    margin-top: 1em;
    padding: 1em;
    
}

/* Cambia el color de fondo cuando el scroll pasa la sección 1 */

#navbar.scroll-bg {
    background-color: #262626;
}




/* FOOTER */
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #262626;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }


.footer {
    background: transparent;
    padding-top: 0.5rem;
}

/*    ICONOS del FOOTER */
.iconos{
    background-color: #262626;
    border-radius: 10px;
}
.iconos:hover{
    background-color: #1c1c1c;
    border-radius: 10px;
    border: 1px solid #000099;
    box-shadow: 0 0 10px #1c1c1c;
    animation-name: rotate;
    animation-duration: 1s;
}

@keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-10px); }
    40% { transform: translateX(10px); }
    60% { transform: translateX(-10px); }
    80% { transform: translateX(10px); }
    100% { transform: translateX(0); }
  }








  

  /* PORTADA */


header.masthead {
  position: relative;
  margin-bottom: 3rem;
  padding-top: calc(4rem + 57px);
  padding-bottom: 4rem;
  background: no-repeat center center;
  background-color: #262626;
  background-size: cover;
  background-attachment: scroll;
}
header.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #262626;
  opacity: 0.5;
}
header.masthead .page-heading,
header.masthead .post-heading,
header.masthead .site-heading {
  color: #fff;
}
header.masthead .page-heading,
header.masthead .site-heading {
  text-align: center;
}
header.masthead .page-heading h1, header.masthead .page-heading .h1,
header.masthead .site-heading h1,
header.masthead .site-heading .h1 {
  font-size: 2rem;
}
header.masthead .page-heading .subheading,
header.masthead .site-heading .subheading {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.1;
  display: block;
  margin-top: 0.625rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading h1, header.masthead .post-heading .h1 {
  font-size: 2.25rem;
}
header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}
header.masthead .post-heading .subheading {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.75rem 0 2rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta {
  font-size: 1.25rem;
  font-weight: 300;
  font-style: italic;
  font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .post-heading .meta a {
  color: #fff;
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  
  header.masthead .page-heading h1, header.masthead .page-heading .h1,
  header.masthead .site-heading h1,
  header.masthead .site-heading .h1 {
    font-size: 5rem;
  }
  header.masthead .post-heading h1, header.masthead .post-heading .h1 {
    font-size: 3.5rem;
  }
  header.masthead .post-heading .subheading {
    font-size: 1.875rem;
  }
}
