
.container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;

}

.descripcion {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
}

.imagen {
    margin-top: 5px;
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
    font-size: 16px;
}

.categoria {
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: normal;
}


form.container {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}

.btn_send {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
/*    border: 1px solid #ccc;
    background-color: #403f3f;*/
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
}
/*
.btn_send:hover {
    background-color: #0d0d0d;
    cursor: pointer;
}
*/
.card_form {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    /*  border: 1px solid #080303;
    background-color: #57C6F2; */
    padding: 5px;
    font-size: 16px;
    font-weight: normal;
}

.card_form:hover {
    border-radius: 10px; /* Agrega un borde redondeado al hacer hover */
}

