{% extends "base.html" %}

{% load static %}

{% block contenido %}
    <h1>Registro de Perfil</h1>
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>Formulario de registro</h2>
            </div>
        </div>

    <form>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
    </form>
    </div>


{% endblock %}
