{% extends "base.html" %}


{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center titulo_secundario">
                    Contacto
                </h3>
                    <p class="text-center subtitulo_secundario">
                        ¿Tienes preguntas, comentarios o sugerencias?
                    </p>
                    <p class="text-center subtitulo_secundario">
                        ¡Nos encantaría escucharte!
                    </p>
                <div class="card_form">
                    <form class="form" method="post" action="{% url 'contacto' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <div class="nombre">
                                <input type="text" class="form-control" id="nombre">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <div class="email">
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Telefono</label>
                            <div class="telefono">
                                <input type="text" class="form-control" id="telefono">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="asunto" class="form-label">Asunto</label>
                            <div class="asunto">
                                <input type="text" class="form-control" id="asunto">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="mensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="mensaje" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn_send">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
