{% extends "base.html" %}

{% load static %}

{% block contenido %}
    <h1>CONTACTO</h1>
    <h2>Aca debemos colocar el contenido sobre CONTACTO</h2>

    <div class="container">
        
        <div class="row justify-content-center">
            <div class="col-4">
                <h2>Formulario de contacto</h2>
            </div>
        </div>
        <form >
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>

    </div>

{% endblock %}
