{% extends "base.html" %}

{% load static %}

{% block contenido %}

<!-- Portada -->
<header id="portada" class="masthead" style="background-image: url({% static 'img/portada.png' %})">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Blog sobre cambio climático</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Categorías -->
<section id="categorias" class="bg-light">
    <div class="container text-center">
        <p class="text-center titulo_secundario">Categorías</p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <h3>Cambio Climático</h3>
                <p>
                    Descubre las últimas investigaciones y noticias sobre el cambio climático global. Exploraremos los impactos, las causas subyacentes y las posibles soluciones para abordar este desafío crítico.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Soluciones Sostenibles</h3>
                <p>
                    Explora prácticas y proyectos que contribuyen a un futuro más ecológico y sostenible. Desde tecnologías renovables hasta iniciativas comunitarias, analizaremos cómo podemos trabajar juntos para un mundo más verde.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Impacto Ambiental</h3>
                <p>
                    Analiza el impacto ambiental de diversas actividades humanas y cómo podemos mitigarlo. Desde la huella de carbono hasta la conservación de la biodiversidad, examinaremos las acciones para preservar nuestro planeta.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Innovación Tecnológica</h3>
                <p>
                    Exploraremos las últimas innovaciones tecnológicas diseñadas para abordar los desafíos del cambio climático. Desde inteligencia artificial hasta energías limpias, seguimos de cerca el papel de la tecnología en la sostenibilidad.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Políticas Ambientales</h3>
                <p>
                    Examina las políticas gubernamentales y las iniciativas internacionales para combatir el cambio climático. Analizaremos los enfoques legislativos y los acuerdos internacionales que buscan garantizar un futuro más sostenible.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Educación Ambiental</h3>
                <p>
                    Conoce más sobre programas educativos y recursos destinados a aumentar la conciencia ambiental. Desde actividades escolares hasta plataformas en línea, exploraremos cómo la educación puede impulsar un cambio positivo.
                </p>
            </div>
            <!-- Puedes agregar más categorías según tus necesidades -->
        </div>
    </div>
</section>

<!-- Últimas Entradas Destacadas -->
<section id="ultimas-entradas" class="bg-light">
    <div class="container text-center">
        <p class="titulo_secundario">Acontecimientos relevantes</p>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/tierra1.jpg' %}" class="card-img-top" alt="Imagen de la entrada">
                    <div class="card-body">
                        <h3 class="card-title">Consecuencias del calentamiento global: ¿que produce el calentamiento global?</h3>
                        <p class="card-text">
                            El calentamiento global está ocurriendo más rápido de lo que esperaban los científicos. De hecho, algunos impactos ya están amenazando al medio ambiente y ponen en peligro la supervivencia de la flora y la fauna, incluso el ser humano.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/tierra2.png' %}" class="card-img-top" alt="Imagen de la entrada">
                    <div class="card-body">
                        <h3 class="card-title">Calcular tu huella de carbono</h3>
                        <p class="card-text">
                            Mitigar los efectos del calentamiento global significa adaptar su estilo de vida a la situación actual, reduciendo y limitando las emisiones de gases de efecto invernadero. Para ello, el primer paso es tomar conciencia de su propia huella de carbono.
                            <ol>
                                <li>El cálculo de la huella de carbono es el primer paso para reducirla: identificar las principales fuentes de emisiones de gases de efecto invernadero en nuestra vida cotidiana y adaptar así nuestro estilo de vida para minimizar su impacto de carbono en el medio ambiente;</li>
                                <li>La reducción de las emisiones de gases de efecto invernadero es muy importante para luchar contra el calentamiento global: optimizar el consumo de energía, reducir nuestra huella digital de carbono y promover el transporte sostenible;</li>
                                <li>La compensación de sus emisiones de carbono mediante la financiación de proyectos ambientales con el fin de reducir las emisiones de gases de efecto invernadero a la atmósfera y avanzar así hacia la neutralidad del carbono.</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="{% static 'img/Tierra3.jpg' %}" class="card-img-top" alt="Imagen de la entrada">
                    <div class="card-body">
                        <h3 class="card-title">Consecuencias y efectos del calentamiento global</h3>
                        <p class="card-text">
                            El calentamiento global ya no es un problema del futuro: es una situación que debemos parar de inmediato o la destrucción del planeta será irreversible. Sequías, huracanes, hambre, pobreza y destrucción: estas son algunas de las terribles consecuencias que el calentamiento global provoca en nuestro planeta. Y en nuestra mano está participar activamente para frenar sus efectos si queremos que las siguientes generaciones hereden un mundo tal y como lo conocemos hoy. O incluso mejor.
                            <ol>
                                <li>Muchas especies de animales están viendo cómo su clima actual desaparece y no son capaces de adaptarse a cambios tan rápidamente.</li>
                                <li>El aumento de temperatura del mar hace que los huracanes se vuelvan más violentos.</li>
                                <li>La acumulación de gases contaminantes hace que las temperaturas aumenten cada vez más y que los climas cambien: esto provoca sequías y, además, aumenta el riesgo de incendios que conllevan la deforestación y la desertización del planeta.</li>
                            </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
