{% extends "base.html" %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/us.css' %}">
<div class="container">
    <h1 class="col-md-12 mt-5">Nosotros</h1>
    <p>Esta es la página de información sobre nuestro blog de cambio climático.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/Tatiana_G_R.jpeg' %}" class="card-img-top" alt="Integrante 1">
                <div class="card-body">
                    <h5 class="card-title">Gimenez Rios Tatiana Tamara</h5>
                    <p class="card-text">Tengo 35 años soy estudiante avanzada de la carrera de Contadora Pública y estoy cursando el informatorio</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante2.jpg' %}" class="card-img-top" alt="Integrante 2">
                <div class="card-body">
                    <h5 class="card-title">Stride Eric</h5>
                    <p class="card-text">Descripción del integrante 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/Nico_Tom.jpg' %}" class="card-img-top" alt="Integrante 3">
                <div class="card-body">
                    <h5 class="card-title">Tomadin Nicolás Adrián</h5>
                    <p class="card-text">Hola a todos, mi nombre es Tomadin, Nicolás Adrián, tengo 28 años y actualmente estoy inmerso en mi viaje académico. Soy estudiante de Ingeniería en Sistemas de Información en la UTN FRRe. Me apasiona la programacion y estoy emocionado por aprender y crecer en este campo. ¡Gracias por la oportunidad de compartir un poco sobre mí! </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
