{% extends "base.html" %}

{% load static %}

{% block contenido %}
<link rel="stylesheet" href="{% static 'css/us.css' %}">

<!-- Acerca de Nosotros -->
<section id="acerca-de">
    <div class="container text-center col-md-12 mt-5">
        <h2>Acerca de Nosotros</h2>
        <p>Bienvenido a nuestro blog dedicado a informar y concientizar sobre el cambio climático. Nuestro objetivo es proporcionar información relevante y soluciones para un futuro sostenible.</p>
        <p>Somos un equipo multidisciplinario de expertos en climatología, ecología, y sostenibilidad comprometidos con la preservación del medio ambiente y la difusión de conocimientos para inspirar el cambio.</p>
        <p>Nuestra misión es abordar críticamente los desafíos ambientales actuales, ofrecer análisis científicos y tecnológicos, y fomentar la adopción de prácticas sostenibles para mitigar el cambio climático.</p>
        <p>Trabajamos en colaboración con instituciones líderes, investigadores y defensores del medio ambiente para proporcionar contenido confiable y actualizado.</p>
        <!-- Comentario: Puedes personalizar aún más la información técnica sobre tu equipo y su enfoque aquí -->
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/Tatiana_G_R.jpeg' %}" class="card-img-top" alt="Integrante 1">
                <div class="card-body">
                    <h5 class="card-title">Gimenez Rios Tatiana Tamara</h5>
                    <p class="card-text">Hola! Soy Tatiana. Tengo 35 años, soy mamá de una hermosa niña. Recientemente recibida de la tecnicatura en programación y estudiante avanzada de la carrera de Contadora Pública. Ahora cursando el informatorio, dispuesta a aprender a programar!!!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/els.jpg' %}" class="card-img-top" alt="Integrante 2">
                <div class="card-body">
                    <h5 class="card-title">Stride Eric</h5>
                    <p class="card-text">Hola, mi nombre es Eric, tengo 29 años y soy estudiante avanzado de Ingenieria en Sistemas de Informacion en la UTN Facultad regional de Resistencia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/Nico_Tom.jpg' %}" class="card-img-top" alt="Integrante 3">
                <div class="card-body">
                    <h5 class="card-title">Tomadin Nicolás Adrián</h5>
                    <p class="card-text">Hola a todos, mi nombre es Tomadin, Nicolás Adrián, tengo 28 años y actualmente estoy inmerso en mi viaje académico. Soy estudiante de Ingeniería en Sistemas de Información en la UTN FRRe. Me apasiona la programacion y estoy emocionado por aprender y crecer en este campo. ¡Gracias por la oportunidad de compartir un poco sobre mí! </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

{% endblock %}
