{% extends "base.html" %}

{% load static %}

{% block contenido %}
<div class="container">
    <h1>Nosotros</h1>
    <p>Esta es la página de información sobre nuestro blog de cambio climático.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante1.jpg' %}" class="card-img-top" alt="Integrante 1">
                <div class="card-body">
                    <h5 class="card-title">Integrante 1</h5>
                    <p class="card-text">Descripción del integrante 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante2.jpg' %}" class="card-img-top" alt="Integrante 2">
                <div class="card-body">
                    <h5 class="card-title">Integrante 2</h5>
                    <p class="card-text">Descripción del integrante 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante3.jpg' %}" class="card-img-top" alt="Integrante 3">
                <div class="card-body">
                    <h5 class="card-title">Integrante 3</h5>
                    <p class="card-text">Descripción del integrante 3.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante1.jpg' %}" class="card-img-top" alt="Integrante 1">
                <div class="card-body">
                    <h5 class="card-title">Integrante 1</h5>
                    <p class="card-text">Descripción del integrante 1.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante2.jpg' %}" class="card-img-top" alt="Integrante 2">
                <div class="card-body">
                    <h5 class="card-title">Integrante 2</h5>
                    <p class="card-text">Descripción del integrante 2.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'images/integrante3.jpg' %}" class="card-img-top" alt="Integrante 3">
                <div class="card-body">
                    <h5 class="card-title">Integrante 3</h5>
                    <p class="card-text">Descripción del integrante 3.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
