{% extends 'base.html' %}

{% block contenido %}
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8">
			<h1 class="text-center titulo_secundario">Detalle de {{noticia.titulo}}</h1>
			<div class="card">
				<div class="card-body">
					<p><strong>TITULO:</strong> {{noticia.titulo}}</p>
					<p><strong>CONTENIDO:</strong> {{noticia.contenido}}</p>
					<p class="img_detalle_noticia"><img src="{{noticia.imagen.url}}" class="img-fluid" alt="Noticia Imagen"></p>
				</div>
			</div>
			<hr>
			<h4 class="text-center subtitulo_secundario">COMENTARIOS</h4>
			{% for c in comentarios %}
				<div class="card mb-3 card_comentario">
					<div class="card-body">
						<a class="comentario_usuario">{{c.usuario}}</a>: 
						<a class="comentario_texto">{{c.texto}}</a> 
						{% if request.user == c.usuario or request.user.is_staff %} 
							<a href="{% url 'comentarios:borrar_comentario' c.pk%}"><i class="fas fa-times icono_borrar_comentario"></i></a> <a href="{% url 'comentarios:modificar_comentario' c.pk%}"><i class="fas fa-edit icono_editar_comentario"></i></a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			{% if request.user.is_authenticated %}
				<form method="POST" action="{% url 'comentarios:agregar' noticia.pk %}" class="form_comentario">
					{% csrf_token %}
					<div class="form-group row">
						<div class="col-9">
							<textarea class="form-control" name="comentario"></textarea>
						</div>
						<div class="col-3">
							<button type="submit" class="btn btn_comentar">COMENTAR</button>
						</div>
					</div>
				</form>
			{% endif %}
			<div style="height: 100px;"></div>
		</div>
	</div>
</div>
{% endblock contenido %}





