{% extends 'base.html' %}


{% block contenido %}
	<h1>DETALLE DE {{noticia.titulo}}</h1>
	<p><strong>TITULO:</strong>{{noticia.titulo}}</p>
	<p><strong>CONTENIDO:</strong>{{noticia.contenido}}</p>
	<p><img src="{{noticia.imagen.url}}" width="150px"></p>
	
	<hr><hr>

	<h4>COMENTARIOS</h4>

	{% for c in comentarios %}
		<div>
			{{c.usuario}} : {{c.texto}} 
			{% if request.user == c.usuario %}
			<a href="{% url 'comentarios:borrar_comentario' c.pk%}">borrar</a> - <a href="{% url 'comentarios:modificar_comentario' c.pk%}">modificar</a>
			{% endif %}
		</div>
	{% endfor %}

	{% if request.user.is_authenticated %}
	<form method="POST" action="{% url 'comentarios:agregar' noticia.pk %}">{% csrf_token %}
		<textarea name="comentario"></textarea>
		<input type="submit" name="" value="COMENTAR">
	</form>
	{% endif %}

	<div style="height: 100px;"></div>

{% endblock contenido %}