{% extends "base.html" %}

{% load static %}


{% block contenido %}
<!--<link rel="stylesheet" href="{% static 'css/filter.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/cards.css' %}">
<link rel="stylesheet" href="{% static 'css/cardNews.css' %}">

    <div class="container">
        <div class="row text-center">
            <p class="titulo_principal">Noticias</p>
        </div>
        <div class="row text-center">
            <p class="subtitulo_principal">Estas son las noticias mas relevantes hasta la actualidad</p>
        </div>
        <!--Filtro-->
        <div class="row g-0">
            <div class="col-sm-6 col-md-8">
                <!--<div class="filtro-container "> -->
                    <div class="input-group">
						<form method="GET" action="{% url 'noticias:home_noticias' %}">
                            <div class="row align-items-end">
                                <div class="col-10">
                                    <input type="text" class="form-control" placeholder="Buscar" aria-label="Buscar" aria-describedby="button-addon2" name="q" value="{{ query }}">
                                </div>
                                <div class="col-2">
                                    <button class="btn" type="submit" id="button-addon2">Buscar</button>
                                </div>
                            </div>
						</form>
                    </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="row align-items-end rowDropdown">
                    <div id="filtroDropdown" class="dropdown filtro-dropdown col">
                        <button class="btn dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Todas
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filtroDropdown">

                            {% if "?" in request.get_full_path %}
                                <li><a class="dropdown-item" href="{{ request.get_full_path }}&categoria=0">Todas</a></li>
                                {% for c in categorias %}
                                    <li><a class="dropdown-item" href="{{ request.get_full_path }}&categoria={{c.id}}">{{c.nombre}}</a></li>
                                {% endfor %}
                            {% else %}
                                <li><a class="dropdown-item" href="?categoria=0">Todas</a></li>
                                {% for c in categorias %}
                                    <li><a class="dropdown-item" href="?categoria={{c.id}}">{{c.nombre}}</a></li>
                                {% endfor %}
                            {% endif %}
                                                        
                        </ul>
                    </div>
                    <div id="filtroDropdown" class="dropdown filtro-dropdown col">
                        <button class="btn dropdown-toggle" type="button" id="filtroDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if "?" in request.get_full_path %}
                                {% if request.GET.orden == "reciente" %}
                                    Mas reciente
                                {% elif request.GET.orden == "antiguo" %}
                                    Mas antiguo
                                {% elif request.GET.orden == "a-z" %}
                                    a-z
                                {% elif request.GET.orden == "z-a" %}
                                    z-a              
                                {% else %}
                                    Mas reciente
                                {% endif %}
                            {% else %}
                                Mas reciente
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filtroDropdown">
                            <!--
                            <li><a class="dropdown-item" href="#" data-value="default" >Mas reciente</a></li>
                            <li><a class="dropdown-item" href="#" data-value="1">Mas antiguo</a></li>
                            -->
                            {% if "?" in request.get_full_path %}
                                <li><a class="dropdown-item" href="{{ request.get_full_path }}&orden=reciente">Mas reciente</a></li>
                                <li><a class="dropdown-item" href="{{ request.get_full_path }}&orden=antiguo">Mas antiguo</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="?orden=reciente">Mas nuevo</a></li>
                                <li><a class="dropdown-item" href="?orden=antiguo">Mas antiguo</a></li>
                            {% endif %}
                            {% if "?" in request.get_full_path %}
                                <li><a class="dropdown-item" href="{{ request.get_full_path }}&orden=a-z">a-z</a></li>
                                <li><a class="dropdown-item" href="{{ request.get_full_path }}&orden=z-a">z-a</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="?orden=a-z">a-z</a></li>
                                <li><a class="dropdown-item" href="?orden=z-a">z-a</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <!--</div> -->
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4 divForNoticias">
            {% for noticia in noticias %}
                <div class="col">
                    <div class="card h-100 cardNoticia">
                        <div class="card-header text-center">
                            <h5 class="card-title">{{ noticia.titulo }}</h5>
                        </div>
                        {% if noticia.imagen %}
                            <a href="{% url 'noticias:detalle_noticia' noticia.pk %}">
                                <img src="{{ noticia.imagen.url }}" class="card-img-top" alt=""> 
                            </a>
                        {% else %}
                            <img src="{% static 'img/imgNotFound.jpg' %}" class="card-img-top" alt="..."> 
                        {% endif %}
                        <div class="card-body">
                            <!--<h5 class="card-title">{{ noticia.titulo }}</h5>-->
                            <p class="card-text">{{ noticia.contenido }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <div>
                                <small style="color: black; text-decoration: underline;">Fecha de publicación</small>:
                                <small class="text-body-secondary">{{noticia.creado}}</small>
                            </div>
                            <div>
                                <small style="color: black; text-decoration: underline;">Autor</small>:
                                <small class="text-body-secondary">{{noticia.usuario}}</small>
                            </div>
                            <div>
                                <small style="color: black; text-decoration: underline;">Categoria</small>:
                                <small class="text-body-secondary">{{noticia.categoria}}</small>
                            </div>
                        </div>
                        <div class="card-footer text-center">
                            <div class="row">
                                <div class="col">
                                    <a class="detalleNoticia" href="{% url 'noticias:detalle_noticia' noticia.pk %}">Leer más</a>
                                </div>
                            {% if request.user == n.usuario or request.user.is_staff %}
                                <div class="col">
                                    <a class="modificarNoticia" href="{% url 'noticias:modificar_noticia' noticia.pk %}">Modificar</a>
                                </div>
                                <div class="col">
                                    <a class="borrarNoticia" href="{% url 'noticias:borrar_noticia' noticia.pk %}">Borrar</a>
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    

    </div>



    <script>
        //defectValue.js

        document.addEventListener('DOMContentLoaded', function () {
          // Obtener todos los dropdowns en la página
          var dropdowns = document.querySelectorAll('.filtro-dropdown');
      
          // Iterar sobre cada dropdown
          dropdowns.forEach(function(dropdown) {
            // Obtener elementos específicos de cada dropdown
            var dropdownButton = dropdown.querySelector('.dropdown-toggle');
            var dropdownItems = dropdown.querySelectorAll('.dropdown-item');
      
            // Asignar evento de clic a cada elemento del dropdown
            dropdownItems.forEach(function(item) {
              item.addEventListener('click', function() {
                // Obtener el valor de la opción clickeada
                var selectedValue = item.getAttribute('data-value');
      
                // Establecer la clase 'active' en la opción clickeada
                dropdownItems.forEach(function(item) {
                  item.classList.remove('active');
                });
                item.classList.add('active');
      
                // Actualizar el texto del botón con la opción clickeada
                dropdownButton.textContent = item.textContent;
              });
            });
      
            // Establecer la opción por defecto al cargar la página
            var defaultOptionValue = "default"; // Cambia esto al valor que desees seleccionar por defecto
            var defaultOption = dropdown.querySelector('.dropdown-menu [data-value="' + defaultOptionValue + '"]');
            defaultOption.classList.add('active');
            dropdownButton.textContent = defaultOption.textContent;
          });
        });
      </script>
      
      
                
{% endblock %}



